<section class="call-to-action">
  <div class="call-to-action__content">
    <h3>Let's make things happen</h3>
    <p>
      Contact us today to learn more about how our digital marketing services
      can help your business grow and succeed online.
    </p>

    <app-button [text]="'Get your free proposal'" />
  </div>
  <div class="call-to-action__image">
    <img
      src="../../assets/images/call-to-action-illusration.svg"
      alt="Call to Action Illustration"
    />
  </div>
</section>
