<div class="container">
  <app-header />

  <app-hero />

  <app-our-services />

  <app-call-to-action />

  <app-case-study />

  <app-our-working-process />

  <!-- Teams Component -->
  @defer (on viewport; prefetch on idle) {
  <app-teams #teams />
  {{ loaded() }}
  } @loading {
  <div class="loading-spinner">
    <div class="spinner-circle"></div>
    <div class="spinner-text">Loading Team Component...</div>
  </div>
  } @placeholder {
  <p>Loading the team component...</p>
  }

  <!-- Contact Us Component -->
  @defer (when teamsLoaded) {
  <app-testimonials />
  <app-contact-us />
  <app-footer />
  }
</div>
