<section class="services">
  <div class="container">
    <div class="services__header">
      <h2 class="services__title">Services</h2>
      <p class="services__description">
        At our digital marketing agency, we offer a range of services to help
        businesses grow and succeed online. These services include:
      </p>
    </div>
    <div class="services__grid">
      <div class="service-box">
        <div class="service-box__content">
          <h3>
            <span> Search Engine </span>
            <span> Optimization </span>
          </h3>
          <a href="#" class="learn-more">
            <span class="arrow">
              <img src="../../assets/images/arrows/primary.svg" alt="arrow" />
            </span>
            Learn More
          </a>
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/search_engine_optimization.svg"
            alt="SEO"
          />
        </div>
      </div>
      <div class="service-box">
        <div class="service-box__content">
          <h3>
            <span> Pay-per-Click </span>

            <span> Advertising </span>
          </h3>
          <a href="#" class="learn-more">
            <span class="arrow">
              <img src="../../assets/images/arrows/primary.svg" alt="arrow" />
            </span>
            Learn More
          </a>
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/pay_per_click_advertisement.svg"
            alt="PPC"
          />
        </div>
      </div>
      <div class="service-box">
        <div class="service-box__content">
          <h3>
            <span> Social Media </span>
            <span> Marketing </span>
          </h3>
          <a href="#" class="learn-more">
            <span class="arrow">
              <img src="../../assets/images/arrows/black.svg" alt="arrow" />
            </span>
            Learn More
          </a>
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/social_media_marketing.svg"
            alt="Social Media Marketing"
          />
        </div>
      </div>
      <div class="service-box">
        <div class="service-box__content">
          <h3>
            <span> Email </span>
            <span> Marketing </span>
          </h3>
          <a href="#" class="learn-more">
            <span class="arrow">
              <img src="../../assets/images/arrows/primary.svg" alt="arrow" />
            </span>
            Learn More
          </a>
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/email_marketing.svg"
            alt="Email Marketing"
          />
        </div>
      </div>
      <div class="service-box">
        <div class="service-box__content">
          <h3>
            <span> Content & </span>
            <span> Creation </span>
          </h3>
          <a href="#" class="learn-more">
            <span class="arrow">
              <img src="../../assets/images/arrows/primary.svg" alt="arrow" />
            </span>
            Learn More
          </a>
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/content_creation.svg"
            alt="Content Creation"
          />
        </div>
      </div>
      <div class="service-box">
        <div class="service-box__content">
          <h3>
            <span> Analytics and </span>
            <span> Tracking </span>
          </h3>
          <a href="#" class="learn-more">
            <span class="arrow">
              <img src="../../assets/images/arrows/black.svg" alt="arrow" />
            </span>
            Learn More
          </a>
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/Analytical_tracking.svg"
            alt="Analytics and Tracking"
          />
        </div>
      </div>
    </div>
  </div>
</section>
