<section class="services">
  <div class="container">
    <div class="services__header">
      <h2 class="services__title">Services</h2>
      <p class="services__description">
        At our digital marketing agency, we offer a range of services to help
        businesses grow and succeed online. Our team of experts specializes in
        creating customized strategies tailored to your unique needs and goals.
      </p>
    </div>
    <div class="services__grid">
      <div class="service-box">
        <div class="service-box__content">
          <h3>Search Engine Optimization</h3>
          <a href="#" class="learn-more"
            >Learn More <span class="arrow">→</span></a
          >
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/search_engine_optimization.svg"
            alt="SEO"
          />
        </div>
      </div>
      <div class="service-box">
        <div class="service-box__content">
          <h3>Pay-per-Click Advertising</h3>
          <a href="#" class="learn-more"
            >Learn More <span class="arrow">→</span></a
          >
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/pay_per_click_advertisement.svg"
            alt="PPC"
          />
        </div>
      </div>
      <div class="service-box">
        <div class="service-box__content">
          <h3>Social Media Marketing</h3>
          <a href="#" class="learn-more"
            >Learn More <span class="arrow">→</span></a
          >
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/social_media_marketing.svg"
            alt="Social Media Marketing"
          />
        </div>
      </div>
      <div class="service-box">
        <div class="service-box__content">
          <h3>Email Marketing</h3>
          <a href="#" class="learn-more"
            >Learn More <span class="arrow">→</span></a
          >
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/email_marketing.svg"
            alt="Email Marketing"
          />
        </div>
      </div>
      <div class="service-box">
        <div class="service-box__content">
          <h3>Content Creation</h3>
          <a href="#" class="learn-more"
            >Learn More <span class="arrow">→</span></a
          >
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/content_creation.svg"
            alt="Content Creation"
          />
        </div>
      </div>
      <div class="service-box">
        <div class="service-box__content">
          <h3>Analytics and Tracking</h3>
          <a href="#" class="learn-more"
            >Learn More <span class="arrow">→</span></a
          >
        </div>
        <div class="service-box__image">
          <img
            src="../../assets/images/services/Analytical_tracking.svg"
            alt="Analytics and Tracking"
          />
        </div>
      </div>
    </div>
  </div>
</section>
