.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.team-member {
  background-color: var(--color-background);
  border: 1px solid var(--color-text);
  border-radius: 45px;
  padding: 40px 35px;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 0px 0px #191a23;
}

.team-member:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.member-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  position: relative;
}

.member-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.member-info {
  flex-grow: 1;
  text-align: left;
}

.member-name {
  font-size: 1.2em;
  font-weight: bold;
}

.member-position {
  font-size: 0.9em;
  color: #272626;
}

.member-icon {
  position: absolute;
  top: 0px;
  right: -15px;
}

.member-content {
  border-top: 1px solid var(--color-text);
  padding-top: 20px;
  text-align: left;
}

.member-bio {
  font-size: 0.95em;
  line-height: 1.6;
}

.team-button {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
@media (max-width: 767px) {
  .team-grid {
    grid-template-columns: 1fr;
  }
}
