<section class="case-study">
  <div class="container">
    <app-heading
      title="Case Studies"
      description="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies"
    ></app-heading>

    <div class="case-study__grid">
      <div class="case-study__item">
        <p>
          For a local restaurant, We implemented a targeted SEO strategy that
          increased organic traffic by 150% and improved search rankings for key
          menu items.
        </p>
        <a href="#" class="learn-more">
          Learn More
          <img
            src="../../assets/images/arrows/primary.svg"
            alt="Learn More"
            class="arrow-icon"
          />
        </a>
      </div>

      <div class="case-study__item">
        <p>
          For a B2B software company, Our content marketing campaign resulted in
          a 200% increase in lead generation and a 25% higher conversion rate.
        </p>
        <a href="#" class="learn-more">
          Learn More
          <img
            src="../../assets/images/arrows/primary.svg"
            alt="Learn More"
            class="arrow-icon"
          />
        </a>
      </div>

      <div class="case-study__item">
        <p>
          For an e-commerce store, We optimized their social media presence,
          leading to a 300% increase in engagement and a 50% boost in online
          sales.
        </p>
        <a href="#" class="learn-more">
          Learn More
          <img
            src="../../assets/images/arrows/primary.svg"
            alt="Learn More"
            class="arrow-icon"
          />
        </a>
      </div>
    </div>
  </div>
</section>
