<div class="testimonials-container">
  <app-heading
    title="Testimonials"
    description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services"
  ></app-heading>

  <div class="testimonial-slider">
    <div class="testimonial-container" #testimonialContainer>
      <div
        class="testimonial"
        *ngFor="let testimonial of testimonials; let i = index"
      >
        <p class="testimonial-text">{{ testimonial.text }}</p>
        <div class="testimonial-author">
          <p class="author-name">{{ testimonial.author }}</p>
          <p class="author-title">{{ testimonial.title }}</p>
        </div>
      </div>
    </div>
    <div class="controls">
      <button
        class="arrow-left"
        (click)="prevTestimonial(testimonialContainer)"
      >
        &larr;
      </button>
      <div class="dots">
        <span
          class="dot"
          *ngFor="let testimonial of testimonials; let i = index"
          [class.active]="i === currentIndex"
          (click)="currentIndex = i"
        ></span>
      </div>
      <button
        class="arrow-right"
        (click)="nextTestimonial(testimonialContainer)"
      >
        &rarr;
      </button>
    </div>
  </div>
</div>
